<mat-grid-list cols="6"  rowHeight="2:1" >
    <mat-grid-tile colspan="2">
      
       <button  mat-raised-button color="primary" [matMenuTriggerFor]="menu" class="emp">Change Emp Details</button>
  
    
       <mat-menu #menu="matMenu">
         <button mat-menu-item  [routerLink]="['./employeeregister']" >Add Employee</button>
         <button mat-menu-item [routerLink]="['./employeeupdate']">Update Employee</button>
    </mat-menu><br /><br />
       
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <button mat-raised-button  color="primary" class="emp" [routerLink]="['./projectcreation']">Create Project</button>
    </mat-grid-tile>
    <mat-grid-tile colspan="2">
        <button mat-raised-button class="emp" color="primary"  [routerLink]="['./teamcreation']">Manage Team</button>
    </mat-grid-tile>
    </mat-grid-list>
    <router-outlet></router-outlet>
       