<mat-grid-list cols="9"  rowHeight="1:1" >
<mat-grid-tile colspan="1"><img src="assets/logo.jpg" alt="logo" class="logo"></mat-grid-tile>
<mat-grid-tile colspan="6">
<img src="assets/name.JPG" alt="name" class="name">
</mat-grid-tile>
<mat-grid-tile colspan="2"><img src="assets/addr.jpg" alt="address" class="address"></mat-grid-tile>
</mat-grid-list>
<mat-grid-list cols="9" rowHeight="2:5" >
<mat-grid-tile colspan="2"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3944.0227458329514!2d77.73939361403511!3d8.689386393756903!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0413ab91f7c3a1%3A0xfda72e06097e3de0!2sCentizen%20Inc!5e0!3m2!1sen!2sin!4v1577957904296!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe></mat-grid-tile>
<mat-grid-tile colspan="6">

<img src="assets/building.jpg" alt="building" class="building">
        
    </mat-grid-tile>
  <mat-grid-tile>
      <div #flexcontainer>
<a href="https://www.centizen.com/mobile-solutions">Mobility</a><br /><br />
<a href="https://www.centizen.com/business-analytics">Big Data<br /></a><br />
<a href="https://www.centizen.com/cloud">Cloud</a><br /><br />
<a href="https://www.centizen.com/custom_software_development">s/w dvlpmt</a><br /><br />
<a href="https://www.centizen.com/quality-engineering">Quality assurance</a><br /><br />
<a href="https://www.centizen.com/it_staffing_rpo_solutions">IT staffing</a><br /><br />
      <!-- <p #domain>Transportation</p>
      <p #domain>TeleCommunication</p>
      <p #domain>Manufacturing</p> -->
      <button  mat-raised-button color="primary" (click)="onLogin()">Login</button>   

</div>

  </mat-grid-tile>

</mat-grid-list>
<p>
  At Centizen, we always believe that our employees are our biggest asset and our relationship is all about building a strong future together. We are dedicated to providing our clients with highly skilled professionals who know their job and do it well. So if you are a talented IT professional who stands out from your peers and have exceptional qualities, we are interested in you. Our promise to our employees is individual growth of skills that is gained through highly challenging projects and an environment that provides continuous learning.
</p>





